[Unit]
Description=Postgresql db
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/srv/postgresql
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
